<header id="header">
  <div class="inner">
    <a href="<%- url_for() -%>" class="image avatar"><img src="<%- gravatar( theme.gravatar_email, 133 ) %>" alt="" /></a>
    <h1><strong>Alex Poulos, PhD</strong> on Technology.</h1>
  </div>
</header>
